<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vote.name %>
</p>

<p>
  <b>Description:</b>
  <%= @vote.description %>
</p>
<!--用这段代码会导致用户logout
<form action="/votes/vote" method="post">
		<% for option in @vote.options %>
			<%= option.name%><input type="checkbox" name="op[]" value="<%= option.id %>" /><br />
		<%	end	%>
		<input type="hidden" value="<%= @vote.id %>" name="id"/>
		<input type="submit" value="Submit" />
	</form>
-->
<%=	form_tag(:controller => "votes",:action => "vote")	do %>
<% for option in @vote.options %>
			<%= option.name%><input type="checkbox" name="op[]" value="<%= option.id %>" /><br />
		<%	end	%>
		<input type="hidden" value="<%= @vote.id %>" name="id"/>

 <%= submit_tag("commit") %>
<%	end	%>

<fieldset>
<legend>投票结果</legend>
<% @vote.options.each do |e| %>

<%= image_tag("vote.gif",:id=>"image", :height => 20,:width=> "#{e.quantity*500/(@vote.totalnumber)}") %>
	<%= e.quantity %><br/>

<% end %>
</fieldset>
	<%if @vote.comments.empty?%>
	<p>
	<h3>No comment,Please add your comment below</h3>	
	</p>	
	<%	else	%>
	<h2>Comments</h2>
		<% @vote.comments.each do |comment| %>
			<p>
			 comment:
				<%= comment.body %>
			</p>
		<% end %>
	<%	end	%>
<% if current_user.present?	%>
	<h2>Add a comment:</h2>
	<%= render "comments/form" %>
<%else%>
<h2>Please Log in before you make comments</h2>
<%	end	%>
<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>


<script>

function $(tagName){
    return document.getElementsByTagName(tagName);
}

window.onload=function(){
		var img= $("img")  //找出img元素
		for (var i=0;i<img.length;i++){  //遍历img
    var oDiv=$("img")[i];

		var width=$("img")[i].width

    animate(oDiv,'width',1,0,width,10)
}}
function animate(o,attr,add,start,end,t){

var max=Math.max(start,end)
    min=Math.min(start,end)


var interval=setInterval(function(){
    

    if(add>0){
    if (min>=max)
    {
    clearInterval(interval)
    }

    min+=add;
    o.style[attr]=min+"px";
    }else{
    if (max<=min)
    {
    clearInterval(interval)
    }

    max+=add;
    o.style[attr]=max+"px";
    }
   
    
},t)
}
</script>
